html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.nav_bar {
    display: flex;list-style: none;
    padding: 15px;gap: 20%;max-width: 100%;
    justify-content: space-between;margin: 0;

}
.nav_left{
justify-content:left;
gap: 1rem;color: white;display: flex;
}
.nav_left:hover{
    text-shadow:0 20px 10px #fff2f060;
}
.nav_left li .logo{
    width: 20px;height: 20px;
    border-radius: 50%;padding:32px;
    background-image: url(images/boxing-gloves.png);
    background-position: center;background-repeat:no-repeat;
}
.nav_left li .logo:hover{
    transition: 2s;
    border-radius: 55%;
    transform: rotate(360deg);
    box-shadow:inset 0 0px 15px red,0 0px 30px rgb(190, 173, 173);
}

.nav_list{
    justify-content:right;gap: 1rem;
    color: white;
    display: flex;line-height: 2.5em;
}
.nav_list a{
    text-decoration: none;
    color: white;
}
.nav_list li:hover{
    transition: 0.8s;
    text-shadow: 0 20px 10px red;
}
.nav_list li button{
    background-color: red;
    padding: 10px;border: none; border-radius: 15px;
    color: white;text-transform:uppercase;
    text-decoration: none;font-weight:850;
}
.nav_list li button:hover{
    box-shadow: 0 0 8px white;
    transition: 0.5s; 
}
.header{
    background-image: url(images/Boy\ fight.jpg);
    justify-content: right;background-size: cover;
    width: 100%;height:650px;
}
.head_content{
    font-size: 65px;
    padding: 20px;
}
.p_white{
    color:white;
}
.p_red{
    color: red;
}
.middle{
    display: flex;
}
.container_p{
    display: flex;padding: 30px;
}
.container_p_head{
    width: 15px;
    background-color: red;
    height: 10px;
}
.btn{
    list-style: none;
}
.btn button{
    background-color: red;color: white;
    padding: 12px;height: fit-content;
    border-radius: 5px;border: none;
    font-weight: bold;
}
.btn button:hover{
    transition: 1.5s;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(255, 252, 252, 0.466);
}
.body_text{
    display: flex;
    flex-direction: column;
}
.middle{
    padding: 80px;
    background-color: #d1cfcf8f;
}
.container_img{
   background-image: url(images/Girl\ fight.jpg);
    background-size: cover;  border-radius: 10px;
    height: 450px; width: 450px;
    box-shadow: 0 0 20px #0000007e;
}
.container_img:hover{
    box-shadow: 0 0 20px black;
}

footer{
    background-color: black;
    color: white;
    bottom: 0;
}
.f_list{
    display: flex;
    justify-content:space-evenly;
    padding: 50px;list-style-type: none;
}
.icons{
    display: flex;gap: 1rem;
    justify-content: right;
    filter: invert(100%)
}
.icons img{
    height:40px;
}
.more{
    display: flex;
    gap: 20px;list-style: none;
    justify-content: center;
}
.left{
    justify-content:center;color: red;
}
.right{
    justify-content:center;display: flex; gap: 2rem;
}
.Center_1,.Center_2{
width: 400px;
}

@media only screen and (min-width: 400px) {
    .header {
      background-image: url("images/Boy\ fight.jpg");
      background-size: cover;
    }
    .Center_2{
        width: 10px;
    }
    .container_img{
        background-image: url(images/Girl\ fight.jpg);
        background-size: cover;
        border-radius: 10px;
    }
}
.services{
    position: absolute; top: 550px; left: 20%; right: 20%;
    width: 60%;background-color: #ffffff7c;
    height: 150px;border-radius: 20px;justify-content: space-evenly;
    box-shadow:0px 0px 15px #7068689d; display: flex;
    padding: 10px;
}
.services:hover{ 
    transition: 2s;
    box-shadow:0px 0px 15px red; 
}
.image-1,.image-2,.image-3{
    background-color: #ff0909;
    border-radius: 50%;padding: 10px;
    width: 60px;height: 60px;
}

.image-1{
    background-image: url(images/running-shoes.png);
    background-repeat: no-repeat;
    background-position: center;
}
.image-2{
    background-image: url(images/gym.png);
    background-repeat: no-repeat;
    background-position: center;
}
.image-3{
    background-image: url(images/arm-muscle.png);
    background-repeat: no-repeat;
    background-position: center;
}
.holder{
    line-height: 3.5em;
    color: #fd0000;background-color: #fff2f060;
    padding: 20px;border-radius: 20px;
    text-transform: uppercase; text-align: center;
    font-size:small;
}


