@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Cookie&family=Kaushan+Script&family=Mea+Culpa&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-color: black;
  --text-color: white;
  --primary-color: red;
  --secondary-color: #a8efff;
  --text-size: 1rem;
  --deco-font-h1: clamp(3rem, 10vw, 8rem);
  --shadow: box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  --back-drop: hsla(0, 0%, 100%, 0.475);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--main-color);
  color: var(--text-color);
  min-height: 100vh;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--text-size) 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.logo {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: var(--text-color);
}

.logo span {
  color: var(--primary-color);
}

.nav-item {
  position: relative;
  color: var(--text-color);
  font-size: var(--text-size);
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.13px;
  text-decoration: none;
  margin-left: 2.5rem;
  transition: all 0.5s ease;
}

.nav-item:hover {
  color: var(--primary-color);
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  width: 0;
  height: 0.15rem;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  transition: all 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.3rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* CONTENT */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  cursor: pointer;
  user-select: none;
}

#Home {
  background-image: url(assets/images/Champion.jpg);
  background-position: center;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
}

#Home h1 {
  font-size: var(--deco-font-h1);
  -webkit-text-stroke: 2px var(--secondary-color);
  color: transparent;
  transition: all 0.5s ease;
  text-align: center;
}

#Home p {
  padding: 20px;
  text-align: center;
  font-style: oblique;
  width: 85%;
}

#Home p span {
  font-size: large;
}

/*BUTTON*/

.light {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  border-radius: 5px;
  background: transparent;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.light:hover {
  transform: translateY(5px);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.676);
}

.light::before {
  content: "";
  position: absolute;
  background-image: conic-gradient(transparent 10deg,
      var(--primary-color),
      90deg,
      transparent 170deg);
  width: 200%;
  height: 500%;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.light:after {
  content: "Explore Offers ";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  color: var(--text-color);
  font-size: clamp(0.9rem, 3vw, 1.2rem);
  border-radius: 5px;
}

/*SOCIALS-ICONS*/
.home-socials {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 15px;
  padding: 0;
}

.home-socials .icon-content {
  position: relative;
  font-size: 18px;
}

/* Social link styling */
.home-socials .icon-content .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--back-drop);
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.home-socials .icon-content .link:hover {
  transform: translateY(2px);
  font-size: 13px;
  transition: .3s;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.676);
}

/* Responsiveness */
@media (max-width: 768px) {
  .home-socials {
    position: static;
    margin: 20px auto 0;
    flex-direction: row;
    justify-content: center;
  }
}

.home-socials .icon-content .link[data-social="instagram"]:hover {
  color: #962fbf;
}

.home-socials .icon-content .link[data-social="github"]:hover {
  color: #000;
}

.home-socials .icon-content .link[data-social="linkedin"]:hover {
  color: #0077B5;
}

.home-socials .icon-content .link[data-social="twitter"]:hover {
  color: #000;
}

/* NAVBAR MEDIA QUERIES */

@media (max-width: 900px) {
  header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 700px) {
  header::before {
    position: absolute;
    content: "";
    inset: 0;
    width: 100%;
    height: 100%;
    background: rbga(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    z-index: -1;
  }

  header::after {
    position: absolute;
    content: "";
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
        transparent,
        rgba(255, 255, 255, 0.4),
        transparent);
    transition: 0.8s;
  }

  .icons {
    display: inline-flex;
  }

  #check:checked~.icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked~.icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
  }

  #check:checked~.navbar {
    height: 16rem;
  }

  .nav-item {
    display: block;
    font-size: 1.1rem;
    margin: 2rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: all 0.3s ease;
  }

  .nav-item:hover::after {
    width: auto;
  }

  #check:checked~.navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }

  #Home {
    padding-bottom: 20px;
  }
}

/*  HOME BUTTON */
@media (max-width: 450px) {
  .btn {
    width: 130px;
  }

  .light:after {
    width: 120px;
  }

}